.score-container {
  position: absolute;
  background-color: white;
  top: 0;
  right: 0;
  display: flex;
  gap: 20px;
  font-size: 8px;
  padding: 5px;
}

img {
  height: 100%;
  width: 500px;
}

.dog-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 95%;
  margin: auto;
}
